body {
  border: 4px solid rgb(154, 76, 173);
  margin: 40px auto;
  padding: 20px;
  border-radius: 10px;
  border-style: groove;
  position: relative;
  top: 200px;
  max-width: 600px;
}

ul {
  list-style: none;
}

form {
  text-align: center;
}
